[Desktop Entry]
Type=Application
Name=Heurism Settings
Comment=Hardware and system controls
Exec=/opt/heurism/native/current/heurism-desktop --settings
Icon=preferences-system
Terminal=false
Categories=Settings;
