[Desktop Entry]
Type=Application
Name=Heurism Power
Comment=Checked restart and shut down
Exec=/opt/heurism/native/current/heurism-desktop --power
Icon=xfsm-shutdown
Terminal=false
Categories=System;
